@charset "utf-8";
.form2{
	height:140px;
	width:224px;
	margin: 10% auto;
	border:#BDEDFF solid 2px;
	border-radius:10px;
	text-align:left;
	padding:85px 38px ;
	}
input,textarea{
 border: 1px solid #848484; 
 outline:0; 
 margin-left:auto;
 margin-right:auto;
 width:100%;
 
} 

select,textarea{

      border: 1px solid #848484; /*Removes border*/
     -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;  /*Removes default style Firefox*/
	  background:url("../img/arrow2.png") no-repeat;
	  background-position:98%;
	  text-indent:0.01px;
	  text-overflow:"";
      width:100%;
}


#submit{
    margin:38% 230px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #999 
	
	}
/*.submit{
	text-align:right;
}*/